
<!--<h1>wel come to the world of angular</h1>-->
<!--<ul>-->
<!--  <li><app-first></app-first></li>-->
<!--  <li><app-second></app-second></li>-->
<!--</ul>-->
<!--<app-string-intropolation></app-string-intropolation>-->
<!--<app-student-form></app-student-form>-->
<!--<app-two-di-binding></app-two-di-binding>-->
<!--<app-tdf-login-page></app-tdf-login-page>-->
<!--<hr/>-->
<!--<app-mdf-login-page></app-mdf-login-page>-->
<!--<app-structure-directive></app-structure-directive>-->
<app-first-component-without-di></app-first-component-without-di>
<hr/>
<app-second-component-without-di></app-second-component-without-di>
<hr/>
<app-first-component-with-di></app-first-component-with-di>
<hr/>

