<h1>data binding </h1>
<p>two-di-binding works!</p>
Enter Age : <input type="number" [(ngModel)]="age"><br/>

Age is {{age}} <br/>
{{isVote()}}

<hr/>
<h3>Property Binding </h3>
Enter Salary : <input type="number" [value]="salary"> <br/>
Salary is {{salary}}

<!-- one way data binding -->

<!--componenet &ndash;&gt; template  ( {{}} , [])-->

<!--template -&ndash;&gt; component   ( () )-->

<!--two way data binding [(ngModel)]    &#45;&#45; pre defined attribute of FormsModule-->

ngForm   :-

1.Template driven form   ( template   ----> component )
      simple form
      codding template

form -> Ref

2. Model Driven Form  ( component --> template
    complex form
    codding component




